.profile__info-button {
  background-image: url("../../../../public/images/__button.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  background-color: transparent;
  cursor: pointer;
  grid-area: button;
  width: 18px;
  height: 18px;
  margin-top: 26px;
  margin-left: 10px;
  align-self: center;
}

.profile__info-button:hover {
  opacity: 0.6;
  transition: 0.2 linear;
}

@media screen and (min-width: 768px) {
  .profile__info-button {
    width: 24px;
    height: 24px;
    margin-top: 5px;
    margin-left: 18px;
    align-self: flex-start;
  }
}
@media screen and (min-width: 1024px) {
  .profile__info-button {
    align-self: center;
  }
}
