.login__button-submit {
  background: #ffffff;
  border-radius: 2px;
  margin-top: 216px;
  padding: 14px 84px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.login__button-submit:hover {
  opacity: 0.6;
}
