.header__login {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #ffffff;
  text-decoration: none;
  align-self: flex-end;
}

.header__login:hover {
  opacity: 0.6;
}
